In [1]:
!pip install requests

Requirement already satisfied: requests in /home/codespace/.local/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests) (2024.8.30)

In [3]:
# 1 Descargar un archivo .zip mediante código del siguiente url (https://netsg.cs.sfu.ca/youtubedata/) (recomiendo descargar el archivo 0333.zip que es menos pesado)


import requests
import os
import zipfile

# Descargar el archivo zip
url = 'https://netsg.cs.sfu.ca/youtubedata/0306.zip'
response = requests.get(url)

# Guardar el archivo zip
with open('0306.zip', 'wb') as f:
    f.write(response.content)

output_path = './unzip'
os.makedirs(output_path, exist_ok=True)


# 2 Descomprimir los datos en una carpeta que genere y leer mediante pandas alguno de los archivos en esta.

# Descomprimir el archivo
with zipfile.ZipFile('0306.zip', 'r') as zip_ref:
    zip_ref.extractall(path=output_path)

print('Archivo descomprimido exitosamente')

Archivo descomprimido exitosamente

In [6]:
import pandas as pd

# Lee el archivo de texto delimitado por tabulaciones
df = pd.read_csv('/workspaces/PythonPC1/PC5/unzip/0306/2.txt', sep='\t', header=None)

# Asigna los nombres de las primeras 10 columnas
column_names = ['video ID', 'uploader', 'age', 'category', 'length', 'views', 'rate', 'ratings', 'comments', 'related IDs']

# Autogenera los nombres de las columnas restantes (11 a 29)
for i in range(11, 30):
    column_names.append(f'columna {i}')

# Asigna los nombres de las columnas al DataFrame
df.columns = column_names

# Muestra las primeras filas para verificar
df.head()

,video ID,uploader,age,category,length,views,rate,ratings,comments,related IDs,...,columna 20,columna 21,columna 22,columna 23,columna 24,columna 25,columna 26,columna 27,columna 28,columna 29
0,J9xtWsmqwxc,tdubphilla,731.0,Autos & Vehicles,470.0,7634.0,4.75,20.0,5.0,SqynvNxz-Gw,...,9NRDhWOnCYc,kr1mAucaLlo,YF6nKmhHvEw,Xw7-S66jvHY,VPMPK48PgEM,AvZeFuePJ4o,jNzbx2lgKEE,51B2cl0zILM,jYK4FowGx7o,Qi0_47sketM
1,kSYKLXa1SkA,neXgeneration1,748.0,Entertainment,142.0,210.0,0.00,0.0,0.0,ujOY2dR0ef0,...,sMpLnAbG4wY,sqr063A8CXc,a0RgLYfS3B4,IUxGPBbDgag,uyX6QgEv5VY,0Wwk-szdM7o,yC3rXgG7FHw,KoRUC6cpzMI,hkeJgSu-O5k,7aOwRpDm0iI
2,dfS1_hGfXqo,steverson421,703.0,Entertainment,237.0,3596.0,4.71,7.0,10.0,T-O82bi_ZJs,...,tXVY1WOasqo,5aFa5zHi6r0,35rGGZBBDVA,pikKt1WlvZo,tXM95FOs0OU,0fxTxCBsOQA,A1tH-rZDWWk,IWWI7J-RqAM,FwhXjkfb1X4,dJW2Iu75ggc
3,Wny4UkcFO7I,iffuk,540.0,Music,49.0,6214.0,4.81,21.0,8.0,5TkNnR8IaXQ,...,NgPN7CJCZPI,7-pbulH1zZ8,20drWWjMPGA,adKvKhNhWx8,-0XRc8w2eCc,onrWx8IvfzY,e-mzjDu_q44,7sMcyBiBSNg,SvP0jAmXsmE,mtfGUZJo59I
4,5TkNnR8IaXQ,shani,275.0,Entertainment,857.0,16201.0,4.45,42.0,8.0,dfS1_hGfXqo,...,mtfGUZJo59I,A0BYiXb0kXc,uuaF6TobGYM,RKO6T1HuwVI,SvP0jAmXsmE,9LJxz5MAY7s,D7kzEWiy-MY,NSaNSEelkjA,VzsfM81p8IA,kSYKLXa1SkA

In [7]:
# 3 Procesar los datos

# Asigna los nombres de las columnas al DataFrame
df.columns = column_names

# Define las columnas que quieres seleccionar
columns_select = ['video ID', 'age', 'category', 'views', 'rate']

# Filtra el DataFrame con las columnas seleccionadas
df_subset = df[columns_select]

# Muestra las primeras filas del DataFrame filtrado
df_subset.head()

      video ID    age          category    views  rate
0  J9xtWsmqwxc  731.0  Autos & Vehicles   7634.0  4.75
1  kSYKLXa1SkA  748.0     Entertainment    210.0  0.00
2  dfS1_hGfXqo  703.0     Entertainment   3596.0  4.71
3  Wny4UkcFO7I  540.0             Music   6214.0  4.81
4  5TkNnR8IaXQ  275.0     Entertainment  16201.0  4.45

In [9]:
# 4 Procesamiento en Mongo Db

import pandas as pd
from pymongo import MongoClient

# Conectar a MongoDB Atlas
client = MongoClient("mongodb+srv://alebr180302:Alejandra123@cluster0.kh8td.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

# Seleccionar la base de datos y la colección
db = client['python_pc5']  # Nombre de la base de datos
collection = db['reporte_videos']  # Nombre de la colección

# Definir el subconjunto de columnas
columns_select = ['video ID', 'age', 'category', 'views', 'rate']
df_subset = df[columns_select]

condicion = df_subset['age'] > 10

collection.insert_many(df_subset[condicion].to_dict('records'))

print("Puedes ver los gráficos aquí: https://charts.mongodb.com/charts-project-0-tdffint/public/dashboards/d9b40df0-7d4b-4a39-ae00-5e9555fab0df")

Puedes ver los gráficos aquí: https://charts.mongodb.com/charts-project-0-tdffint/public/dashboards/d9b40df0-7d4b-4a39-ae00-5e9555fab0df